//- レイアウト
extends ./layout/_default.pug
block pageContent
  section.hero
    h1 (BBアシスタントカンパニー)
  section.message 
    h2 ビジネスアシスタントとして<br/>サポートを続けて20年
  section.service
    h2 アシスタントサービス
  section.contact
    h2 お問い合わせ