//初期設定
@import "variables/**";
@import "function/**";
// FLOCCSベース
@import "foundation/**";
@import "layout/**";
@import "project/**";
@import "component/**";
@import "utility/**";

div {
  p {
    font-weight: bold;
    font-size: rem(10px);
    line-height: division(30, 20);
  }
}

// 変数のテスト
$fontColor: #525252;

h1 {
  color: #333;
}

.test {
  font-size: rem(16px);
  line-height: division(20, 30);
}
