//初期設定
@import "variables/**";
@import "function/**";
// FLOCCSベース
@import "foundation/_reset.scss";
@import "foundation/_base.scss";
@import "foundation/**";
@import "layout/**";
@import "project/**";
@import "component/**";
@import "utility/**";

.header {
  // height: 80px;
  // display: grid;
  // grid-auto-flow: column;
  // justify-content: space-between;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid rgb(167, 167, 167);
}
.header__icon {
  width: 40px;
  object-fit: contain;
}
.header__nav {
  display: grid;
  align-items: center;
}
.nav__lists {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  /* height: 100%;
  align-items: center; */
}
