//初期設定
@import "variables/**";
@import "function/**";
// FLOCCSベース
@import "foundation/**";
@import "layout/**";
@import "project/**";
@import "component/**";
@import "utility/**";

div {
  p {
    font-weight: bold;
  }
}

// 変数のテスト
$fontColor: #525252;

h1 {
  color: $fontColor;
}
